==
<!-- About start -->
<section id="about">
    <div class="row position-relative margin-0">
        <div class="col-xs-12 col-md-6 side-image">
            <img src="{% content 'about/picture' %}" alt="about">
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
            <div class="row">
                <div class="col-sm-12">
                    <div class="module-header module-header-left wow fadeInUp">
                        <h2 class="module-title">{% content 'about/title' %}</h2>

                        <div class="module-subtitle">
                            {% content 'about/desc' %}
                        </div>
                        <div class="module-line"></div>
                    </div>
                </div>
            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="iconboxleft wow fadeInUp">
                        <div class="iconboxleft-icon">
                            <span class="{% content 'about/first-icon' %}"></span>
                        </div>
                        <div class="iconboxleft-text">
                            <h3 class="iconboxleft-title">{% content 'about/first-title' %}</h3>

                            <div class="iconboxleft-desc">
                                {% content 'about/first-desc' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="iconboxleft wow fadeInUp" data-wow-delay=".2s">
                        <div class="iconboxleft-icon">
                            <span class="{% content 'about/second-icon' %}"></span>
                        </div>
                        <div class="iconboxleft-text">
                            <h3 class="iconboxleft-title">{% content 'about/second-title' %}</h3>

                            <div class="iconboxleft-desc">
                                {% content 'about/second-desc' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="iconboxleft wow fadeInUp">
                        <div class="iconboxleft-icon">
                            <span class="{% content 'about/third-icon' %}"></span>
                        </div>
                        <div class="iconboxleft-text">
                            <h3 class="iconboxleft-title">{% content 'about/third-title' %}</h3>

                            <div class="iconboxleft-desc">
                                {% content 'about/third-desc' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="iconboxleft wow fadeInUp" data-wow-delay=".2s">
                        <div class="iconboxleft-icon">
                            <span class="{% content 'about/fourth-icon' %}"></span>
                        </div>
                        <div class="iconboxleft-text">
                            <h3 class="iconboxleft-title">{% content 'about/fourth-title' %}</h3>

                            <div class="iconboxleft-desc">
                                {% content 'about/fourth-desc' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- col-xs-12 -->
    </div>
    <!-- .row -->
</section>
<!-- About end -->