==
<!-- Callout start -->
<section class="callout">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-lg-offset-2">
                <h2>{% content 'callout/title' %}</h2>

                <div class="callout-decription">
                    {% content 'callout/desc' %}
                </div>
            </div>
            <div class="col-md-4 col-lg-2 callout-btn">
                <a href="#cart" class="btn btn-lg btn-block btn-custom-1">{% content 'callout/button' %}</a>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
<!-- Callout end -->