==
<!-- Contact start -->
<section id="contact" class="module module-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="module-header">
                    <h2 class="module-title">{% content 'contacts/title' %}</h2>

                    <div class="module-line"></div>
                    <div class="module-subtitle">
                        {% content 'contacts/desc' %}
                    </div>
                </div>
                <div class="module-line"></div>
            </div>
        </div>
    </div>
    <!-- .container -->
</section>
<!-- Contact end -->