<!-- Footer start -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="social-links">
                    <li><a href="#" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="wow fadeInUp"><i class="fa fa-vk"></i></a></li>
                    <li><a href="#" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-google-plus"></i></a></li>

                </ul>
                <p class="copyright">
                    © 2015 jeweler.dp.ua<br><a href="#">Все права защищены</a>
                </p>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</footer>
<!-- Footer end -->
<!-- Scroll-up -->
<div class="scroll-up hidden-xs">
    <a href="#home"><i class="fa fa-angle-up"></i></a>
</div>