==
<!-- Portfolio start -->
<section id="portfolio" class="module paddingb-none">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="module-header wow fadeInUp">
                    <h2 class="module-title">{% content 'myjewerly/title' %}</h2>

                    <div class="module-line"></div>
                    <div class="module-subtitle">
                        {% content 'myjewerly/desc' %}
                    </div>
                    <div class="module-line"></div>
                </div>
            </div>
        </div>
        <!-- .row -->
        <!-- Portfolio Filter start-->
        <div class="row">
            <div class="col-sm-12">
                <ul id="filter">
                    <li class="active" data-group="all">Все</li>
                    <li data-group="rings">Кольца</li>
                    <li data-group="bracelet">Браслеты</li>
                    <li data-group="earrings">Серьги</li>
                    <li data-group="chainlets">Цепи</li>
                </ul>
            </div>
        </div>
        <!-- .row -->
        <!-- Portfolio Filter end -->
    </div>
    <!-- .contaier -->
    <ul class="portfolio-items-container">
        <li class="portfolio-item" data-groups="all rings">
            <figure>
                <img src="/storage/app/media/jewelry/rings/p1-1.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/slideshow.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all chainlets">
            <figure>
                <img src="storage/app/media/jewelry/chainlets/p2-2.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/video.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Consectetur explicabo nobis quam ratione vitae.
                        </div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all earrings">
            <figure>
                <img src="/storage/app/media/jewelry/earrings/p3-3.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/image.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all bracelet">
            <figure>
                <img src="storage/app/media/jewelry/bracelet/p4-4.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/slideshow.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all rings">
            <figure>
                <img src="/storage/app/media/jewelry/rings/p5-5.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/video.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all bracelet">
            <figure>
                <img src="storage/app/media/jewelry/bracelet/p6-6.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/image.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all rings">
            <figure>
                <img src="/storage/app/media/jewelry/rings/p1-1.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/slideshow.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all chainlets">
            <figure>
                <img src="storage/app/media/jewelry/chainlets/p2-2.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/video.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Consectetur explicabo nobis quam ratione vitae.
                        </div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all earrings">
            <figure>
                <img src="storage/app/media/jewelry/earrings/p3-3.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/image.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all bracelet">
            <figure>
                <img src="storage/app/media/jewelry/bracelet/p4-4.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/slideshow.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all rings">
            <figure>
                <img src="/storage/app/media/jewelry/rings/p5-5.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/video.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all bracelet">
            <figure>
                <img src="storage/app/media/jewelry/bracelet/p6-6.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/image.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all rings">
            <figure>
                <img src="/storage/app/media/jewelry/rings/p1-1.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/slideshow.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all chainlets">
            <figure>
                <img src="storage/app/media/jewelry/chainlets/p2-2.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/video.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Consectetur explicabo nobis quam ratione vitae.
                        </div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all earrings">
            <figure>
                <img src="storage/app/media/jewelry/earrings/p3-3.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/image.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all bracelet">
            <figure>
                <img src="storage/app/media/jewelry/bracelet/p4-4.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/slideshow.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all rings">
            <figure>
                <img src="/storage/app/media/jewelry/rings/p5-5.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/video.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all bracelet">
            <figure>
                <img src="storage/app/media/jewelry/bracelet/p6-6.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/image.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all rings">
            <figure>
                <img src="/storage/app/media/jewelry/rings/p1-1.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/slideshow.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all chainlets">
            <figure>
                <img src="storage/app/media/jewelry/chainlets/p2-2.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/video.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Consectetur explicabo nobis quam ratione vitae
                        </div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all earrings">
            <figure>
                <img src="storage/app/media/jewelry/earrings/p3-3.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/image.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all bracelet">
            <figure>
                <img src="storage/app/media/jewelry/bracelet/p6-6.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/slideshow.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all rings">
            <figure>
                <img src="/storage/app/media/jewelry/rings/p1-1.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/slideshow.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all chainlets">
            <figure>
                <img src="storage/app/media/jewelry/chainlets/p2-2.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/video.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Consectetur explicabo nobis quam ratione vitae.
                        </div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all earrings">
            <figure>
                <img src="storage/app/media/jewelry/earrings/p3-3.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/image.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all bracelet">
            <figure>
                <img src="storage/app/media/jewelry/bracelet/p4-4.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/slideshow.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all rings">
            <figure>
                <img src="/storage/app/media/jewelry/rings/p5-5.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/video.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <li class="portfolio-item" data-groups="all bracelet">
            <figure>
                <img src="storage/app/media/jewelry/bracelet/p6-6.jpg" alt="">
                <figcaption>
                    <a href="/themes/jeweler/content/image.html" class="simple-ajax-popup"></a>

                    <div class="caption-inner">
                        <h3 class="portfolio-item-title">Брилиантовая ночь</h3>

                        <div class="portfolio-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </div>
                </figcaption>
            </figure>
        </li>
    </ul>
    <!-- .projects-container -->
</section>
<!-- Portfolio end -->