==
<!-- Services start -->
<section id="services" class="module module-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="module-header wow fadeInUp">
                    <h2 class="module-title">{% content 'sales/title' %}</h2>

                    <div class="module-line"></div>
                    <div class="module-subtitle">
                        {% content 'sales/desc' %}
                    </div>
                    <div class="module-line"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="iconbox wow bounceIn">
                    <div class="iconbox-icon">
                        <span class="{% content 'sales/first-icon' %}"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">{% content 'sales/first-title' %}</h3>

                        <div class="iconbox-desc">
                            {% content 'sales/first-desc' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow bounceIn">
                    <div class="iconbox-icon">
                        <span class="{% content 'sales/second-icon' %}"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">{% content 'sales/second-title' %}</h3>

                        <div class="iconbox-desc">
                            {% content 'sales/second-desc' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow bounceIn">
                    <div class="iconbox-icon">
                        <span class="{% content 'sales/third-icon' %}"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">{% content 'sales/third-title' %}</h3>

                        <div class="iconbox-desc">
                            {% content 'sales/third-desc' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow bounceIn">
                    <div class="iconbox-icon">
                        <span class="{% content 'sales/fourth-icon' %}"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">{% content 'sales/fourth-title' %}</h3>

                        <div class="iconbox-desc">
                            {% content 'sales/fourth-desc' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
<!-- Services end -->